{% extends "publicaciones/base.html" %}
{% block body %}
{% if libro %}
<br>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
{% else %}
<br>
  <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>¡Ey bro! </strong>No hay registros en la base de datos
  </div>
{% endif %}
{% endblock %}