<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encontrado</title>
</head>
<body>
{% if clientes %}
        <P>Se está buscando <strong>{{query}}</strong></P>
        <p>Existen <strong>{{clientes|length}}</strong> clientes registrados</p>
        <ul>
            {% for cliente in clientes %}
            <li>
                {{cliente.nombre}} {{cliente.email}}
            </li>
            {% endfor %}
        </ul>
{% else %}
        <p>No hay registros en la base de datos</p>
{% endif %}
</body>
</html>